<!DOCTYPE html>
<html>

<head>

  <title>Creathives</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="google-site-verification" content="" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">



  <!-- Favicons -->
  <link rel="shortcut icon" href="static/images/fav.png">

  <!-- Js Links -->
  <script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery.sticky.js" type="text/javascript"></script>
  <script src="/static/js/jquery.nicescroll.min.js" type="text/javascript"></script>
  <script src="/static/js/owl.carousel.js" type="text/javascript"></script>
  <script src="/static/js/tabs-switch.js" type="text/javascript"></script>
{#  <script src="/static/js/auth.js" type="text/javascript"></script>#}


  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/fonts.css" type="text/css"><!-- / template styles -->
  <link rel="stylesheet" href="/static/css/animate.css" type="text/css"><!-- / template styles -->
  <link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css"><!-- / template styles -->
  <link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css"><!-- / template styles -->
{#  <link rel="stylesheet" href="/static/css/www-embed-player-webp-vfl3j4Zuz.css" type="text/css"><!-- / template styles -->#}
  <style type="text/css">
  a.ytp-youtube-button, .ytp-title-link, .yt-uix-sessionlink{
    display: none !important;
  }
  </style>
</head>
<body>
  <div class="body-overlay hide"></div>
    <div id="login"></div>
  <!-- Header -->
  <section id="header">
    <div class="container">
      <div class="header-con">
        <div class="logo">
          <img src="/static/images/logo.png" alt="Creathives" class="logo-desk">
          <img src="/static/images/logo-mobile.png" alt="Creathives" class="logo-mobile">
        </div>
        <div class="header-midMenu hide">
          <ul>
            <li>
              <a href="" class="active">
                <img src="/static/images/Header/all.png" alt="all">
                <div>All</div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="/static/images/Header/videos.png" alt="videos">
                <div>Videos</div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="/static/images/Header/tracks.png" alt="tracks">
                <div>Tracks</div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="/static/images/Header/images.png" alt="images">
                <div>Images</div>
              </a>
            </li>
            <li>
              <a href="">
                <img src="/static/images/Header/articles.png" alt="articles">
                <div>Articles</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-rightMenu">
          <span>
            <a href=""><img src="/static/images/bell.png" alt="Notifications"></a>
          </span>
          <span class="header-profilePic"><a href=""><img src="/static/images/user-small.png" alt="Username"></a>
          </span>
          <span>
            <a href=""><img src="/static/images/arrow-down.png" alt="View"></a>
          </span>
        </div>
      </div>
    </div>
  </section>


<!-- Banner -->
  <section id="banner">
    <img src="/static/images/banner1.png" alt="">
    <!-- Portfolio Edit -->
    <a href=""> <img class="edit-wall hide" src="/static/images/Edit/camera1.png" alt="Change"></a>
  </section>